{{#if @data.ast.type}}
  <blockquote
    class="callout callout-type-{{this.canonicalType}}{{if this.isCollapsable ' is-collapsible'}}{{if this.isCollapsed ' is-collapsed'}}{{if this.isTransitioning ' transitioning'}}"
    style={{this.backgroundStyle}}
  >
    <div class="callout-title" {{on "click" this.toggleCollapse}}>
      <span class="callout-icon">
        {{{this.icon}}}
      </span>
      <span class="callout-title-inner">{{{this.title}}}</span>

      {{#if this.isCollapsable}}
        <span class="callout-fold{{if this.isCollapsed ' is-collapsed'}}">
          {{{this.chevronIcon}}}
        </span>
      {{/if}}
    </div>

    {{#if @data.ast.children}}
      <div class="callout-content" {{did-insert this.registerContent}}>
        {{#each @data.ast.children as |child|}}
          {{#if (or child.type child.children)}}
            <QuoteCallout @data={{wrap-data child @data.calloutSettings}} />
          {{else}}
            {{{child}}}
          {{/if}}
        {{/each}}
      </div>
    {{/if}}
  </blockquote>
{{else}}
  <blockquote>
    {{#each @data.ast.children as |child|}}
      {{#if (or child.type child.children)}}
        <QuoteCallout @data={{wrap-data child @data.calloutSettings}} />
      {{else}}
        {{{child}}}
      {{/if}}
    {{/each}}
  </blockquote>
{{/if}}